@font-face {
  font-family: Gotham_Book;
  src: url(fonts/GothamBook.ttf);
}

@font-face {
  font-family: Gotham_Bold;
  src: url(fonts/Gotham-Bold.otf);
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  font-size: 1.6rem;
  font-family: Gotham_Book;
  color: #333;
  line-height: 140%;
}

h1 {
  color: #00437a;
  font-family: Gotham_Bold;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1020px;
    padding: 20px;
}

.icon-container {
  padding-top: 16px;
}

.tick {
  color: #fbba00;
  font-size: 2.4rem;
}

.list {
  margin: 0;
}

.gap {
  margin-bottom: 15px;
}

.logo {
  width: 250px;
  padding: 20px;
  padding-left: 0;
}

.tel {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  text-decoration: none;
}

.bold {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 16px;
}

.oops {
  font-size: 4rem;
}

ul {
  margin: 0;
  padding-left: 25px;
}